thead input {
  width: 100% !important;
}

#main-content .theme-table-wrap.wider {
width: 100% !important;
}
#main-content .theme-table-wrap {

  background-color: transparent !important;

}
@media only screen and (max-width: 600px) {
  #example > thead > tr > th > input{

    display: none  !important;
  }
}


#footer {
  background-color: transparent  !important;
  border-bottom: solid 3px transparent !important;
}

b, strong {
  font-weight: bold !important;
}

